<div class="row">
    <p>V:HackaBoia CTF Team was founded in 2020 by <i>salgio</i> under the name of V:Screw.
        <br>After partecipating in the national competition of Cyberchallenge 2022 it returned to rock under the
        leadership of a new captain (<i>quby</i> or umbylumpa to his colleagues) and a new name (which, in my opinion, is
        much more effective).
        <br>The actual members met and gathered in the old-fashioned way, since we all attended the same university
        (<b>the University of Campania "Luigi Vanvitelli"</b>), for which we compete. Our goal is, quite simply, <del>the
            eternal glory</del> learning more about cybersecurity while having some fun with people having our same
        interests and curiosity
        <br>At the moment our most recent achievement regards the <i>b01ilers ctf</i>, in which we earned the 31st place out
        of 872. <del>You see, we're not so bad after all!</del>
        <center><span style="font-family: Babas; font-size: 2em;">WANNA JOIN US?</span></center>
        <br>In order to join the group you must promise us your firstborn or you can simply contact us on one of the
        following social networks. The requirements to join this crazy team are quite simple:
        <ul>
            <li>curiosity</li>
            <li>passion for cybersecurity</li>
            <li>patience (a lot)</li>
            <li>years of experience of google and possibly on stackoverflow</li>
            <li>good knowledge of python, linux and web infrastructures</li>
            <li>be good at creating memes (or at least good at laughing at the ones we're going to make)</li>
        </ul>
        <center><span style="font-family: Babas; font-size: 2em;">OUR CONTACTS</span></center>
        <br><a href="mailto:vhackaboia@proton.me">vhackaboia@proton.me</a>
</div>
