<div class="row">
    <p>V:HackaBoia CTF Team was founded in 2020 by <i>salgio</i> under the name of V:Screw.
<br>After partecipating in the national competition of Cyberchallenge 2022 it returned to rock under the leadership of a new captain (<i>quby</i> or umbylumpa to his colleagues) and a new name (which, in my opinion, is much more effective).
<br>The actual members met and gathered in the old-fashioned way, since we all attended the same university (<i>the University of Campania "Luigi Vanvitelli"</i>), for which we compete. Our goal is, quite simply, <del>the eternal glory</del> learning more about cybersecurity while having some fun with people having our same interests and curiosity
<br>At the moment our most recent achievement regards the <i>b01ilers ctf</i>, in which we earned the 31st place out of 872. <del>You see, we're not so bad after all!</del>
</div>
