    <!-- Grid container -->
    <div class="container p-2">
      <!-- Section: Social media -->
      <h2 class="mb-4">
        Contacts:
      </h2>
      <h3 class="mb-2">
        <!-- Email -->
        <a href="mailto:vhackaboia@proton.me" class="me-4 link-secondary">
            <i class="fa-solid fa-at"></i>
          </a>
        <!-- Github -->
        <a href="https://github.com/VHackaBoia" class="me-4 link-secondary">
          <i class="fa-brands fa-github"></i>
        </a>
      </div>
    </h3>