<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand text-white" href="#"><i class="fa fa-duotone fa-cow"></i> {{ site.description }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse" aria-controls="nvbCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nvbCollapse">
            <ul class="navbar-nav ml-auto">
                {% for item in site.collections %}
                    <li class="nav-item pl-1">
                        <a class="nav-link" href="{{item.label}}"><i class="mr-1 fa-solid fa-{{item.fa-logo}}"></i>{{item.label}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>