---
layout: default
---

<div class="row">
    <div class="col-lg-4 col-sm-2"></div>
    <div class="col-lg-4 col-sm-6 text-center">
        <img class="rounded-circle mw-100 mh-25" src="/hackers/avatars/{% if page.avatar %}{{ page.avatar }}{% else %}default.png{% endif %}" alt="avatar" />
        <h1 class="my-2">{{page.name}}</h1>
        {% for skill in page.skills %}
            {% for item in site.skills %}
                {% if item.name == skill %}
                    <i class="mr-1 {{item.font-awesome}}" title="{{item.tag}}"></i>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    <div class="col-lg-4 col-sm-2"></div>

 </div>

 <div class="my-5">
     {{ content }}
 </div>

<h1 class="text-center">Writeups</h1>
<div class="row">
    <div class="table-responsive">
        <table class="">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>CTF</th>
                    <th>Tasks</th>
                    <th>Points</th>
                    <th>Solves</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody>
            {% for writeup in site.writeups %}
            {% if writeup.author contains page.name %}
            <tr>
                <td>{{ writeup.category }}</td>
                <td><a href="/ctfs/{{ writeup.ctf }}">{{ writeup.ctf }}</a></td>
                <td><a href="{{ writeup.url }}">{{ writeup.name }}</a></td>
                <td>{{ writeup.points }}</td>
                <td>{{ writeup.solves }}</td>
                <td>{{ writeup.tags | join: ", "}}</td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
